<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IRemoteObject" transferMode="Streamed"
                    maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
            </netNamedPipeBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRemoteObject">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8001/Demo/DoStuff" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IRemoteObject" contract="ServiceReference.IRemoteObject"
                name="WSHttpBinding_IRemoteObject" />
            <endpoint address="net.pipe://localhost/Demo/DoStuff" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IRemoteObject" contract="ServiceReference.IRemoteObject"
                name="NetNamedPipeBinding_IRemoteObject" />
        </client>
    </system.serviceModel>
</configuration>