<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IRemoteObject" transferMode="Streamed">
                    <security mode="None" />
                </binding>
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/Demo/DoStuff" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IRemoteObject" contract="ServiceReference.IRemoteObject"
                name="NetNamedPipeBinding_IRemoteObject" />
        </client>
    </system.serviceModel>
</configuration>